@import url("https://fonts.googleapis.com/css?family=Inter");

:root {
  /* background color */
  --bg-black-color: #141414;
  --bg-blackvariant-color: #313131;
  /*text color*/
  --t-white-color: #ffffff;
  --t-gray-color: #818181;
  /* primary color */
  --p-purple-color: #4e38a2;
  --p-purplevariant-color: #c4b5ff;
  /* accent color */
  --a-green-color: #38a283;
  --a-red-color: #df5959;

  /* font size */
  --f-comp-title: 18px;
  --f-comp-body: 15px;
  --f-comp-extra: 12px;

  --f-phone-title: ;
}

html {
  font-family: Inter;
}

#bodyHome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
